version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
clone_depth: 1
image: Visual Studio 2017
build_script:  
- dotnet build -c Release
- dotnet pack -c Release
test: off  
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
nuget:
  disable_publish_on_pr: true
artifacts:
- path: '**\*.nupkg'
  name: NuGet
deploy:
- provider: NuGet
  api_key:
    secure: m2cqk0IGlXDKXF7W1WGgfWkxCQZkthwmsyfv56gKhz/DGyfpoynrRZJbsGdCBb66
  skip_symbols: false
  on:
    branch: master
